#baner {
	background: rgb(255,213,162);
	padding: 20px;
	text-align: center;
}

.menu {
	background: rgb(192,112,17);
	color: white;
	text-align: center;
	font-size: 150%;
	width: 25%;
	float: left;
}

#main {
	height: 400px;
}

#stopka {
	background: rgb(192,112,17);
	color: white;
	text-align: right;
	font-size: 150%;
}

a {
	color: white;
}

button {
	background: brown;
	border: 2px solid brown;
	color: white;
	font-weight: 800;
	padding: 10px;
}